/*styles.css*/

body {
    padding: auto;
    margin: auto;
    
}

.header {
    display: flex;
    padding: 10px;
    gap: 20px;
    background-color: aqua;
   
    
}

.links {
    display: flex;
    gap: 10px;
    flex:1;
}

.top, .middle, .bottom {
    display: flex;
}

.top-left {
    max-width: 200px;
    min-height: fit-content;
    padding: 50px;
    background-color: bisque;
}

.top-image {
    padding: 100px;
    background-color:bisque;

}

.button {
    display: flex;
    justify-content:flex-start;
}

p {
    display: flex;
    flex-wrap: wrap;
}
.image-row {

}
.middle {
    padding: 100px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.bottom {
    background-color: beige;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0%;
    padding: 12px;
}
p {
    justify-content:center;
    align-items: center;
}

