/*styles.css*/

body {
   /* padding:100px;
    margin: auto;
    /*padding-left: 30px;*/
}

.header {
    display: flex;
    padding: 10px;
    gap: 20px;
    background-color: #1f2937;
}   


.links {
    display: flex;
    gap: 50px;
    flex: 1;
    justify-content: flex-end;
    
}

.top, .middle, .bottom {
    display: flex;
}

.top-left {
   
   padding: 100px;
    background-color:#1f2937;
    color: white;
}
/*
h1 {
    font-weight:;
}*/

.top-image {
    flex:auto;
    background-color:#1f2937;
   justify-content: end;
   padding: 100px;

}

button {
   color:aliceblue;
   background-color:#3882f6;
}

a {
    color:white;
    text-decoration: none;
}

/*
.image-row {
    width: 100%;
    background-color: pink;
    display: flex;
}

.image-column {
    display: flex;
    flex-direction: column;
}

.middle {
    max-width: fit-content;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
.middle-top{
   
    background-color: pink;
}
.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}


.bottom {
    background-color: rgb(211, 211, 42);
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0%;
    padding:100;
}
p {
    justify-content:center;
    align-items: center;
}

.image-row {
    display: flex;
    gap: 20px;
    padding: 12px;
    justify-content:center;
}

.image-column {
    display: flex;
    gap: 20px;
}
